*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: hsl(346deg 17% 70%);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width: 68%;
    background-color: rgba(109, 98, 237, 0.675);
    background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.16);
}
#part3{
    height: 100%;
    width: 6;
    /* background-color: green; */
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: blueviolet; */
    left: 7%;
    top: 50%;
    transform: translate(0-50%);

}

#text-div>h1{
    font-size: 85px;
    line-height: 78%;
    font-family: monument, sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    color: azure;
    text-transform: uppercase;
}
#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1524504542391-127872011665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;   
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
}
#vertical-text{
    position: absolute;
    right: -50%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
   
}
#vertical-text h1{
     font-size: 70px;
     font-weight: 900;
     font-family: monument, sans-serif;
     color: transparent;
     letter-spacing: 4px;
     text-transform: uppercase;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #fff;
}

#nav{
    position: absolute;
    width: 400px;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 60px;
}

#nav h5{
    font-size: 20px;;
    font-family:  sans-serif;
    color: #fff;
}